/*Main page------------------------------------------------- */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

li {
    list-style-type: none;
}

a{
    text-decoration: none;
    margin-right: 6rem;
    color: #444;
    font-size: 1.2rem;
}

#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main-section1{
    background-color: rgb(0, 0, 85);
    color:white;
    display: flex;
    align-items: flex-start;
    padding: 2rem 3rem;
    height: 15rem;
    font-size: 1.2rem;
}

#main-section1-text{
    margin-right: 5rem;
}

#section1-title, #name {
    color: lightblue
}

#main-section2{
    display: flex;
    text-align: center;
    gap: 1rem;
    width: 50%;
    margin: 3rem 0;
}

.biographie{
    height: 620px;
    text-overflow: ellipsis;
    overflow: scroll;
}


#biographie-paragraph{
    text-align: justify;
}

footer ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    background-color: rgb(0, 0, 85);
}

footer ul a{
    text-decoration: none;
    color: white;
}


/*Experiences page-------------------------------------------------------------- */

#image-experiences{
    position: relative;
    text-align: center;
    width: 100%;
}

#main-image-experiences{
    width: 100%;
    position: relative;
    filter: hue-rotate(190deg);
}

#center-image-text{
    position: absolute;
    left: 35%;
    top: 25%;
    font-size: 4rem;
    color: plum;
}

#xp-section2{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15rem;

}
#xp-section2 h2{
    font-size: 2rem;
    color: rgb(128, 115, 238); 
    padding: 2rem 4rem;
}

.articles{
    width: 300px;
    height: 220px;
    position: relative;
}

.articles h3{
    font-weight: lighter;
    color: rgb(128, 115, 238); 
    border: 1px solid rgb(191, 186, 239);   
}

.articles-container{
    display: flex;
    flex-wrap: wrap;
    max-width: 980px;
    text-align: center;
    gap: 1rem;
}

.articles img{
    width: 100%;
    height: 80%;
}

.overlay{
    position: absolute;
    top: 25px;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    text-align: justify;
    overflow: scroll;
    text-overflow: ellipsis;
    opacity: 0;
}
.articles:hover .overlay{
    opacity: 1;
    background: rgb(145, 145, 255);
    transform: scale(1.3);
    transform-origin: center center;
    transition: 500ms ease;
    padding: 1rem;
    border: 10px ridge rgb(191, 186, 239); 
    z-index: 1000;
    
}

.overlay p{
    color: white;
}

.overlay .title{
    background-color: white;
    text-align: center;
    color: rgb(2, 174, 232);
    width: 100%;
    margin-top: 0;
}

i{
    border:1px solid white;
    border-radius:50%;
    padding: .5rem;
}
.fa-facebook{
    border: 1px solid white;
    border-radius: 50%;
    padding: .5rem .75rem;
}


/* Formulaire ------------------------------------------------------------------------------------- */

#body-de-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

#main-form{
    height: 100%;
    background-color:rgb(71, 26, 157);
}

.contact-form-container{
    width: 550px;
    height: 450px;
}

.form-head{
    width: 100%;
    height: 50px;
    background-color: rgb(44, 11, 162);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
}



.form-body{
    background-color: rgb(1, 1, 95);
    height: 400px;
    width: 100%;
    display: flex;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
}

.left{
    display: flex;
    width: 50%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.right{
    width: 50%;
    height: 100%;
}
form{
    margin-top: 1.5rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}
input{
    margin: .5rem 3rem;
    border-style: none;
    padding: 1rem 0;
    text-align:baseline;
    background-color: rgb(1, 1, 95);
    border-bottom:1px solid white;
    color: aliceblue;
    font-size: 1rem;
}

textarea{
    margin: 3rem 3rem 0 3rem;
    border-style: none;
    padding: 1rem 0;
    text-align:baseline;
    background-color: rgb(1, 1, 95);
    border-bottom:1px solid white;
    color: aliceblue;
    font-size: 1rem;
}

button{
    width: 8rem;
    margin-left: 1rem;
    padding: .5rem 1.5rem;
    border-style: none;
    background-color: rgb(1, 1, 95);
    color: rgb(84, 169, 255);
    cursor: pointer;
    font-size: .9rem;
}

.left h1{
    color: white;
    margin: 2rem 0 0 2rem;
}

.left p{
    color: #777;
    font-size: .5rem;
    margin: 0 0 2rem 2rem;
}

.circles{
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: red; 
    margin-left: 5px;
    cursor: pointer;
}

.points{
    margin-left: auto;
    margin-right: 1rem;
    letter-spacing: 3px;
    cursor: pointer;
    color: white;
}

#crc1{
    background-color: yellow;
}

#crc2{
    background-color: lightgreen;
}

hr{
    width: 12%;
    height:2px;
    color: white;
    background-color: white;
    margin-left:2rem;
    margin-bottom: auto;
}


